!!!5
html(lang="es")
	head
		title Chat
		meta(charset="UTF-8")
		link(href="css/normalize.min.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
	body
		#contenedor
			h1 Chat
			#usuarios-conectados-div
			#mensajes-div
				#pizarra-mensajes-div
				#nuevo-mensaje-div
					input(type='text', placeholder='Escriba se mensaje aqui...')#nuevo-mensaje-inp
					input(type='button', value='Enviar')#enviar-mensaje-btn

		script(src="js/jquery.min.js")